.main-canvas{
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  .content{
    padding: 30px;
    height:calc(100% - 40px);
  }
}
.header{
  height: 40px;
  background-color: rgb(2, 106, 167);
  padding: 7px;
  .title
  {
      font-size: 18px;
      color: white;
      font-weight: bold;
      .title-link{
            margin: 0 20px;
        cursor: pointer;
      }
  }

}

.content{
  position: relative;
  overflow-x: auto;
}

.header  div{
  display: inline-block;
}


a {
    color: #1e7ad3;
    text-decoration: none;
}

a:hover { text-decoration: underline }

.container, .main {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.main { margin-top: 50px }

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 300px;
}

.search input {
    height: 26px;
    width: 100%;
    padding: 0 0px 0 10px;
    border-radius: 3px;
    border: 0;
}

.search input:focus {
    outline: none;
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
}

.search .results li {
  display: block;
  border-top: 1px solid #e8e8e8;
}
.search .results h4{
  color: #121417;
  padding: 0 10px;
}
.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }


.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }
