<div class="main-canvas">
  <div class="header">
      <div class="row">
          <div class="col-sm-2 title">
            <div class="text-center title-link" [routerLink]="['/boards']">Board App</div>

          </div>
          <div class="col-sm-10">
            <form class="search " autocomplete="off">
                <input type="text" name="q" placeholder="Search..." (focus)="onSearchFocus($event)" (blur)="onSearchBlur($event)" (keyup)="search($event)" />
                <ul class="results" *ngIf="searchInFocus" >
                  <li> <h4> Matching Boards </h4></li>
                  <li *ngFor="let board of boardResults" ><a href="/" (click)="onClickBoard(board, $event)">{{board.name}}</a></li>
                </ul>
            </form>
          </div>
      </div>
  </div>
  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>
